<form class="form" #formtemp="ngForm" (submit)=" add( formtemp ) ">
  <mat-grid-list cols="2" rowHeight="300px">
    <mat-grid-tile>

      <div class="controles-container">
        <div class="row">

          <mat-form-field appearance="outline">
            <mat-label>Nombre</mat-label>
            <input matInput type="text" minlength="3" placeholder="Nombre" [ngModelOptions]="{standalone: true}"
              [(ngModel)]="contact.name">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Apellidos</mat-label>
            <input matInput type="text" minlength="3" placeholder="Apellido/s" [ngModelOptions]="{standalone: true}"
              [(ngModel)]="contact.surnames">
          </mat-form-field>
        </div>

        <mat-form-field appearance="outline">
          <mat-label>Edad</mat-label>
          <input matInput type="text" min="0" max="125" placeholder="Edad" [ngModelOptions]="{standalone: true}"
            [(ngModel)]="contact.age">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>DNI</mat-label>
          <input matInput type="text" placeholder="NIF (8 números y 1 letra)" pattern="^[0-9]{8,8}[A-Za-z]$"
            [ngModelOptions]="{standalone: true}" [(ngModel)]="contact.dni">
        </mat-form-field>

      </div>
    </mat-grid-tile>

    <mat-grid-tile>
      <div class="controles-container">

        <div class="col-2">
          <mat-radio-group aria-label="Select an option" [ngModelOptions]="{standalone: true}"
            [(ngModel)]="contact.sex">
            <mat-radio-button value="1">Hombre</mat-radio-button>
            <mat-radio-button value="2">Mujer</mat-radio-button>
            <mat-radio-button value="3">Otro</mat-radio-button>
            <mat-radio-button value="4">No Especificado</mat-radio-button>
          </mat-radio-group>

          <mat-form-field>
            <mat-label>Color Favorito</mat-label>
            <mat-select placeholder="Color Favorito" [ngModelOptions]="{standalone: true}"
              [(ngModel)]="contact.favouriteColour">
              <mat-option>None</mat-option>
              <ng-container *ngFor="let favouriteColour of favouriteColours">
                <mat-option value="{{favouriteColour.id}}">{{favouriteColour.value}}</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Cumpleaños</mat-label>
            <input matInput [matDatepicker]="picker" placeholder="Fecha Cumpleaños"
              [ngModelOptions]="{standalone: true}" [(ngModel)]="contact.birthday">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Notas</mat-label>
            <input matInput type="text" placeholder="Comentario" [ngModelOptions]="{standalone: true}"
              [(ngModel)]="contact.notes">
          </mat-form-field>
        </div>

        <div class="button-row">
          <button mat-raised-button color="primary" type="submit">Añadir</button>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</form>

<mat-card class="card">
  <h3>Contacto</h3>
  <p>{{contact | json}}</p>
</mat-card>

<mat-card class="card">
  <h2>Lista de contactos</h2>

  <mat-list>
    <mat-list-item *ngFor="let cont of contacts; let i = index">
      <p>Nombre y apellidos: {{ cont.name }} {{ cont.surnames }} </p>
      <p>Dni: {{ cont.dni }} </p>
      <p>Edad: {{ cont.age }} </p>
      <p>Cumpleaños: {{cont.birthday | date: 'dd/MM/yyyy'}} </p>
      <p>Color: {{cont.favouriteColour}} </p>
      <p>Sexo: {{cont.sex}}</p>

      <button class="button" mat-flat-button color="primary" (click)=" update( i )">Actualizar</button>
      <button class="button" mat-flat-button color="warn" (click)=" delete( i )">Borrar</button>
      <mat-divider></mat-divider>
    </mat-list-item>

  </mat-list>

</mat-card>